.contact-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px auto 100px 0;
  align-items: center;
  justify-content: center;

  .top-image-container {
    width: 100%;
    opacity: 0.9;
    height: 23vw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 30%;

    .background-image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }

    .image-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      
      .image-content-text-header {
        color: white;
        font-weight: 450;
        font-size: 42px;
        opacity: 1;
        text-transform: uppercase;
      }
      
      .image-content-text {
        color: white;
        opacity: 1;
        font-weight: 350;
      }
    }
  }
  .site-content {
    
    .middle-content {
      margin: 30px auto;
      width: 80%;
      display: flex;

      .left-site-content {
        width: 60%;
        display: flex;
        flex-direction: column;
        font-family: "proxima nova-n4","proxima-nova",sans-serif;
        font-size: 18px;
      }
  
      .vertical-line {
        border-left: 1px groove grey;
        opacity: 0.2;
        height: 430px;
        margin: 10px 0 40px 40px;
      }
      
      .right-site-content {
        width: 30%;
        margin: 0 0 30px auto;
        display: flex;
        flex-direction: column;
        font-family: "proxima nova-n4","proxima-nova",sans-serif;
        font-size: 18px;
      }

      .header-text {
        font-weight: 350;
        color: #1a468d;
      }
    }

    .message-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(247, 247, 247);
      margin: 50px -65px 0 -65px;
      
      .message-content-title {
        font-weight: 300;
      }

      .message-input {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }
      .message-textarea {
        max-width: 50%;
        min-width: 50%;
        min-height: 100px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }
    }
  }
}